body {
    background-color: #f4f7f9;
    font-family: "ProximaNova", "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#root {
    width: 80%;
    margin: 0 auto;
}

#navigation {
    display: flex;
    justify-content: space-evenly;
}

#navigation .nav-item {
    margin: 10px;
}

#navigation a {
    color: black;
}

.section {
    margin: 20px 0;
    text-align: justify;
}

#title {
    display: flex;
    justify-content: center;
}

#one {
    height: 100%;
    overflow: hidden;
}

#one.home {
    height: 400px;
}

#one img {
    width: 100%;
}

#one .product-page {
    display: flex;
    justify-content: space-between;
}

#one .image, #one .info  {
    width: 45%
}

#one .info button, #two button {
    width: 100%;
    padding: 15px;
    color: white;
    background-color: black;
    border: none;
    margin: 20px 0;
}

#one .info button:hover, #two button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;v
}

.product-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.product-wrapper.category{
    flex-wrap: wrap;
}

.product-wrapper .product {
    width: 20%;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.product-wrapper.category .product {
    margin: 10px;
}

.product-wrapper .product:hover {
    text-decoration: underline;
}

.product-wrapper .product img {
    width: 100%;
/*     height: 70%; */
    object-fit: cover;
}

.text-with-backgroud {
    background-image: url(https://images.unsplash.com/photo-1660079211804-272ac5c22386?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1015&q=80);
    background-position: center;
    padding: 150px 0;
    text-align: center;
    color: white;
}

#five {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}

.product-in-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
}

.product-in-cart div {
    margin: 0 30px;
    width: 25%;
    text-align: center;
}

.product-in-cart.no-items-found div {
    width: 100%;
    font-size: 1.5rem;
}

#one .product-in-cart img {
    height: 150px;
    width: auto;
}

